@media screen and (min-width: 900px) {
    .title__header {
        height: 30px;
        margin: 0;
        font-size: 25px;
        background-color: rgb(12,0,255);
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: normal;
    }
}

@media screen and (max-width: 899px) {
    .title__header{
        display: none;
    }
}