@media screen and (min-width: 900px) {
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
  }
  
  .list {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .items {
    margin-right: 20px;
    font-size: 20px;
  }

  .btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
  }
}
  
@media screen and (max-width: 899px){
  nav {
    /* position: sticky; */
    top: 0;
    width: 100%; 
  }
  
  .list {
    flex-direction: column;
    height: auto;
    padding: 10px 0 10px 0;
    margin: 0 0 20px 0
  }
    
  .items {
    width: 100%;
  }

  .li__items {
    margin: 10px 0 10px 0;
  }
    
  .btn {
    display: block;
  }
}

.list {
  list-style-type: none;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  text-align: center;
}

.items {
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

.items:hover {
  border-bottom: 2px white solid;
}

.btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}


