@media screen and (min-width: 900px) {
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    background: #1abf9d;
  }
  
  .list {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .items {
    margin-right: 20px;
    font-size: 20px;
  }

  .btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
  }
}
  
@media screen and (max-width: 900px){
  .list {
    flex-direction: column;
    height: auto;
  }
    
  .items {
    width: 100%;
    padding: 20px 0;
  }
    
  .btn {
    display: block;
  }
}

.list {
  list-style-type: none;
  background: rgb(12,0,255);
  background: linear-gradient(180deg, rgba(12,0,255,1) 35%, rgba(194,119,237,1) 100%);
  text-align: center;
}

.items {
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

.items:hover {
  border-bottom: 2px white solid;
}
