nav {
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 50px;
    background: #1abf9d;
  }
  
  .list {
    list-style-type: none;
    background: #1abf9d;
    /* background: rgb(26,191,157); */
    background: linear-gradient(180deg, rgba(26,191,157,1) 35%, rgba(250,250,250,1) 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
  }

  .items:hover {
    border-bottom: 2px white solid;
  }
  
  .btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
  }
  
  @media screen and (max-width: 900px){
    .list {
        flex-direction: column;
        height: auto;
        margin-left: 0px;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
  }