.title__massages {
	color: rgba(148,187,233,1);
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

.massage__detail {
	padding: 7px 21px;
	margin-bottom: 50px;
	border: 1px solid rgba(238,174,202,1);
	border-radius: 8px;
}
.massage__label {
	padding-block: 7px;
	color: black;
	cursor: pointer;
}

.massage__label:hover {
	color: rgba(238,174,202,1);
}

.faq__panel-description {
	color: black;
	padding-top: 5px;
	padding-bottom: 7px;
}

@media screen and (min-width: 900px) {	
	.list__massages {
		margin: 50px 100px 50px 100px;
	}
}

@media screen and (min-width: 768px) {
	.list__massages {
		margin: 25px 50px 25px 50px;
	}
}

@media screen and (max-width: 767px) {
	.list__massages {
		margin: 5px 15px 5px 15px;
	}
}



