@media screen and (min-width: 900px) {
  footer {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-left: 20px;
  }

  .menu {
    display: flex;
  }

  .menu__link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 899px) {
  .footer {
    font-size: 0.75em;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0 0 0;
  }

  .copyright {
    text-align: center;
    padding-bottom: 5px;
  }
}

footer {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: white;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}